body {
    background-color: lightgrey;
}

#index-title {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

#index-title:hover {
    opacity: 0.5;
}