body {
    background-color: lightgrey;
text-align: center;
}

header, #navigation-links-container {
    /* border: thick black solid; */
    background-color: black;
    padding: 10px;
}
.navigation-links {
    border: thin black solid;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px; 
    margin-right : 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#index-title {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

#index-title:hover {
    opacity: 0.5;
}

#generate-button, #clear-button {
    width: 150px;
    height: 70px;
}